* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.over {
  margin: 25px 0 0 25px;
  width: 300px;
}
.over h2 {
  margin-bottom: 5px;
}
.over:first-of-type {
  padding-top: 10rem;
}
header {
  height: 100px;
  width: 100vw;
  position: fixed;
  top: 0;
  background: white;
  border-bottom: 1px solid #808090;
  box-shadow: 0 2px 3px 0 #808090, 0 6px 10px 0 #808090;
}
.header__menu {
  height: 100px;
  display: flex;
  margin: 0 20vw;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
}
.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 3rem auto 0 auto;
}
.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 5px;
  border: 1px solid black;
}
.containers__text {
  margin: 0 25px;
}
.containers__ul {
  display: none;
}
.keySection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 3rem auto 0 auto;
  padding-bottom: 12rem;
}
.keyContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 5px;
  border: 1px solid black;
}
.keyContainers__text {
  margin: 0 25px;
}
.keyContainers__ul {
  display: none;
}
